@media only screen and (max-width: 1170px) and (min-height: 700px) {
    /* body {
      background-color: purple;
    } */

    .main-content {
        min-height: calc(100vh - 600px);
    }

    .footer {
        transform: translate(10%, 170%);
    }

    img.logo {
        top: 2%;
        left: -1%;
    }
}

@media only screen and (max-width: 900px) {
    .main-content {
        min-height: calc(100vh - 400px);
    }

    .footer {
        transform: translate(-20%, 170%);
    }

    img.logo {
        top: -1%;
        left: 5%;
    }
}

@media only screen and (min-height: 800px) {
    .main-content {
        min-height: calc(100vh - 600px);
    }
}

@media only screen and (max-width: 500px) {
    .wrapper {
        zoom: 40%;
        /* transform: translate(-43%, 0); */
        max-height: 10rem;
    }

    .main-content {
        margin-top: 3rem;
        min-height: calc(100vh - 1000px);
    }

    img.logo {
        top: 5%;
        left: 21%;
    }

    .action {
        left: 50%;
        transform: translate(-49%, 430%);
    }

    .action p {
        font-size: 3rem;
    }

    button {
        padding: 30px 60px;
        font-size: 2.5rem;
        border-radius: 60px;
    }

    .footer-bg {
        display: none;
    }

    .footer-mobile {
        display: block;
        left: 0;
    }

    .footer {
        left: 0%;
        /* width: 10%; */
        transform: translate(0, 200%);
        text-align: center;
    }

    .text-wrapper {
        font-size: 2rem;
        left: 26%;
        top: 4%;
    }

    .col-one, .col-two{
    line-height: 2.5rem;
    }

    .copy-right{
        font-size: 1.3rem;
        margin: 1rem 0rem 0rem -1.5rem;
    }
}