* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}

.wrapper {
    margin: 0px;
    padding: 0px;
    /* zoom: 80%; */
    /* display: flex;
    flex-direction: column; */
}

.main-content {
    /* min-height: calc(100vh - 645px); */
}

.inner-wrapper {
    margin-top: 4rem;
    /* min-height: calc(100vh - 945px); */
    /* display: flex;
    flex-direction: column; */
}


.logo,
.background,
.clouds,
.ufo,
.moops,
.cow {
    position: absolute;
}

.logo {
    z-index: 1;
    width: 27%;
    top: 0%;
    left: 4%;
}

.background {
    object-fit: cover;
    width: 100vw;
    height: 100vw;
}

.ufo {
    width: 60%;
    top: 26vw;
    left: 18vw;
}

.cow {
    width: 30%;
    top: 68vw;
    left: 33vw;
}

.moops {
    width: 25%;
    left: 34vw;
    top: 59vw;
    transform: rotate(-7deg);
}

.action {
    z-index: 1;
    position: relative;
    text-align: center;
    top: 105vw;
    /* left: 50%; */
    /* transform: translate(-90px, 0px); */
}

.action p {
    font-size: 1.5rem;
}

button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

button {
    background-color: #51BEAB;
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    border-radius: 50px;
    transition: 0.5s;
    font-weight: 600;
    outline: none;
    overflow: hidden;
}

button:focus {
    outline: 0;
}

button:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
}

button:active {
    background-color: rgb(190, 255, 242);
    color: #919191;
}

button:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
}

button:hover {
    background: #51BEAB;
    cursor: pointer;
}

button:hover:before {
    transform: translateX(300px) skewX(-15deg);
    opacity: 0.6;
    transition: 0.7s;
}

button:hover:after {
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: 0.7s;
}


.footer {
    position: absolute;
    top: 165vw;
    margin: 0px;
    padding: 0px;
}

.footer-mobile {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    margin-top: 10px;
}



.text-wrapper,
.links-wrapper {
    display: inline-block;
    text-align: center;
}

.text-wrapper {
    position: absolute;
    margin: 15px 0 0 33px;
}

.col-one,
.col-two {
    text-align: left;
    display: grid;
    line-height: 1.8rem;
    float: left;
    padding-right: 2rem;
    font-size: 1rem;
}

.col-one a,
.col-two a,
.copy-right a {
    text-decoration: none;
    color: #fff;
}

.copy-right {
    font-size: 0.7rem;
    display: inline-block;
    color: #fff;
    margin-left: -2rem;
}

.footer-desktop,
.clouds {
    display: none;
}