* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    margin: 0px;
    padding: 0px;
    /* zoom: 80%; */
}

.inner-wrapper {
    /* width: 100%; */
}

.logo,
.background,
.clouds,
.ufo,
.moops,
.cow {
    position: absolute;
}

.background, .clouds {
    width: 380px;
    height: 380px;
    object-fit: cover;
}

.footer-bg,
.footer-mobile,
.text-wrapper,
.action{
    display: none;
}