* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    margin: 0px;
    padding: 0px;
    zoom: 80%;
}

.inner-wrapper {
    /* width: 100%; */
}

.logo,
.background,
.clouds,
.ufo,
.moops,
.cow {
    position: absolute;
    /* left: 50%;
    top: 50%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* position: absolute;
    margin: 0px;
    padding: 0px;
    transform: scale(0.6); */
}

.background {
    z-index: 999;
    width: 130vw;
    height: 130vw;
    object-fit: cover;
}

.footer-bg,
.footer-mobile,
.text-wrapper,
.action, 
.clouds {
    display: none;
}